<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title:</th>
        <th scope="col">Announcement:</th>
        <th scope="col">Context:</th>
        <th scope="col">Date create:</th>
        <% if current_user %>
          <th scope="col">Edit news</th>
        <% end %>
        <th scope="col">Back to all news</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @news.title %></td>
          <td><%= @news.announcement %></td>
          <td><%= @news.context %></td>
          <td><%= @news.created.to_formatted_s(:rfc822) %></td>
          <% if current_user %>
            <td><%= link_to 'Edit', edit_top_news_path %></td>
           <% end %>
          <td><%= link_to 'Back', top_news_index_path %></td>
        </tr>
    </tbody>
  </table>
</div>
