<header class='d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm'>
  <h1 class='my-0 mr-md-auto font-weight-normal'>News</h1>
  <div class='my-2 my-md-0 mr-md-3'>
    <%= link_to 'All news', top_news_index_path, class: 'p-2 text-dark' %>
    <%= link_to 'Create news', new_top_news_path, class: 'p-2 text-dark' %>
  </div>
  <div id='navbar'>
  <ul class='nav navbar-nav'>
    <% if current_user %>
      <ul class='nav navbar-nav pull-right'>
        <li><span><%= current_user.name %></span></li>
        <li><%= link_to 'Log Out', log_out_path, method: :delete %></li>
      </ul>
      <li><%= link_to 'Show user', user_path(current_user) %></li>
    <% else %>
      <li><%= link_to 'Sign Up', sign_up_path %></li>
      <li><%= link_to 'Log In', log_in_path %></li>
    <% end %>
  </ul>
  <div>
    <p id='notice'><%= flash[:notice] %></p>
  </div>
</div>

</header>
